* {
    margin: 0px;
}

body {
    /* google font sige popin  */

    font-family: 'Kanit', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
}

/* header and  nav style start-------------- */

.header {
    background-color: rgb(240, 225, 208);
    margin: 0px;
    padding: 10px 0px 30px;
    margin-bottom: 50px;
}

.navSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 150px;
    margin-top: 40px;

}

.WebTittle {
    font-size: 35px;
    font-weight: bolder;
    color: black;
}

.NavachoorTag {
    margin-left: 0px;
}

.NavachoorTag a {
    text-decoration: none;
    font-size: 18px;
    margin-left: 50px;
    color: black;
}

/* //////////////////////////////  banner section---------- */

.BannerSection {
    margin: 40px 0px 10px;
    text-align: center;

}

.BannerTittle {
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 10px;

}

.BannerDescription {
    font-weight: 400;
    font-size: 16px;
}

.BannerBtn {
    margin: 40px;
    font-size: 18px;
    padding: 10px 15px;
    color: whitesmoke;
    background: #FF900E;
    border-radius: 8px;

}

/*--------- bannerSection - img ---- */
.BannerImg img {
    width: 80%;
    padding-left: 120px;
    border-radius: 8px;
}



/* -------------main-- CardArticle section---------//////////// */


.CardArticle {
    display: flex;
    width: 80%;
    margin-left: 150px;
    margin-bottom: 100px;

}

.cardImgs {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.cardImgs img {
    width: 250px;
}

.CardsDescription {
    margin-top: 130px;
    margin-left: 50px;


}

.CardDescriptionTittle {
    font-size: 35px;
    margin: 15px 0px;
}

.BannerBtn {
    margin-left: 0px;
}

/* --------/// ----cardAboutwork------------ */

.cardAboutwork {
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
}

.cardAboutworkTittle {
    border-left: 5px solid #FF900E;
    padding-left: 25px;
    font-weight: bolder;
    font-size: 40px;

}


.cardAboutworkImg img {
    /* width: 80%; */
    height: 800px;
    margin-left: 30px;
}

.exprences {
    font-size: 30px;
    background-color: #FF900E;
    padding: 30px 50px;
    border-radius: 8px;
    position: relative;
    margin-top: -10%;


}


.workTittles div {
    margin: 10px;
    padding: 20px 10px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
    width: 80%;
}

/* factSection---------------- */

.factSection {


    margin: 40px 0px;
}

/* .factSection:hover {
  
} */

.factInfo {
    margin-left: 5%;
    margin: 50px;
}

.factSectionTittle {
    font-size: 40px;
}

.factSectiondescription {}

.factSectionImgs {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;

}

.factSectionImg {
    border: 2px solid tomato;
    padding: 30px;
    margin: 10px;

}

.factSectionImg:hover {

    transform: scale(1.5);
    background-color: aliceblue;
    border-radius: 8px;
}

/* ---------------  our sponspors */

.OurSponsporsSectionInfo {
    font-size: 20px;
    text-align: center;
}

.OurSponsporsimgs {
    width: 80%;
    margin: 30px 0px;
    margin-left: 120px;
    display: flex;
    justify-content: space-between;
}

.footer {
    margin-top: 100px;
    height: 200px;
    width: 100%;
    color: aliceblue;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* contact style  */

.contact {
    background: linear-gradient(#e66465, #9198e5);
    padding: 100px;
    text-align: center;
}

.contactInfoTittle {
    font-size: 30px;
    text-align: center;
    color: black;
   
}
.contact input{
    margin-top: 10px;

}














/* nav qurey style start --- */

@media only screen and (max-width:576px) {

    .navSection,
    .NavachoorTag a,
    .BannerImg img {
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }

}

@media only screen and (min-width:577px) and (max-width: 768px) {
    .navSection {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0px;

    }
}


/*----- section of the past cardSection ----- */

@media only screen and (max-width:576px) {
    .CardArticle {
        flex-direction: column;
        margin: 0px;
        text-align: center;

    }

    .cardImgs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 0px;
        padding: 5px 40px;
        ;


    }

}


/* section of teh second cardSection ----- */

@media only screen and (max-width:576px) {
    .cardAboutwork {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }

    .cardAboutworkImg img {
        width: 360px;
        margin: 0px;
        padding: 0px;
    }
}


/* -----------------------.fact mediea query Sections */

@media only screen and (max-width:576px) {
    .factSectionImgs {
        flex-direction: column;
    }

}


/* --------------- our sponspors ---///*/

@media only screen and (max-width:576px) {
    .OurSponsporsimgs {
        flex-direction: column;
        width: 300px;
        /* gap: 10px; */
        padding: 20px;
        margin: 0px;
    }
}




/* .hide {
    display: none;
} */